<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  </head>

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        
        <nav class="site-nav">
          <div class="trigger">
            {% for path in site.header_pages %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title %}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p>&copy; {{ site.time | date: '%Y' }} Admitchu. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
